{% if jobShop.page == 'board' %}
  <div class="job-container uk-grid-small" uk-grid>
      <div class="uk-width-1-1 uk-width-1-4@m">
        {% partial __SELF__ ~ '::filter' %}
      </div>
      <div class="uk-width-1-1 uk-width-3-4@m">
        {% partial __SELF__ ~ '::jobBoard' %}
      </div>
  </div>
{% elseif jobShop.page == 'company' %}
  {% partial __SELF__ ~ '::companyJobs' %}
{% elseif jobShop.page == 'job' %}
  {% partial __SELF__ ~ '::job' %}
{% endif %}
