<li class="uk-parent">
    <a class="uk-nav-header">Employment Type</a>
    <ul class="uk-nav-sub">
      <form id="employmentType">
        <button class="uk-margin-small uk-button uk-button-text" type="reset">Reset</button>
        <li><label><input class="uk-checkbox selectAll" type="checkbox"> Check all</label></li>
        <li class="uk-nav-divider"></li><br>

        {% for level in jobShop.getEmploymentTypes() %}
          <li><label><input class="uk-checkbox filterValue" type="checkbox" name="{{ level.value }}" data-filterName="tenure" data-checked="{{ level.value in jobShop.filterStates['tenure'] }}"> {{ level.display }}</label></li>
        {% endfor %}
      </form>
    </ul>
</li>

<li class="uk-nav-divider"></li>
