<li class="uk-parent">
    <a class="uk-nav-header">Job Function</a>
    <ul class="uk-nav-sub">
      <form id="jobFunction">
      	<button class="uk-margin-small uk-button uk-button-text" type="reset">Reset</button>
        <li><label><input class="uk-checkbox selectAll" type="checkbox"> Check all</label></li>
        <li class="uk-nav-divider"></li><br>

        {% for level in jobShop.getJobFunctions() %}
          <li><label><input class="uk-checkbox filterValue" type="checkbox" name="{{ level.value }}" data-filterName="function" data-checked="{{ level.value in jobShop.filterStates['function'] }}"> {{ level.display }}</label></li>
        {% endfor %}
      </form>
    </ul>
</li>

<li class="uk-nav-divider"></li>
