<li class="uk-parent uk-open">
    <a class="uk-nav-header">Education</a>
    <ul class="uk-nav-sub">
      <form id="education">
        <button class="uk-margin-small uk-button uk-button-text" type="reset">Reset</button>
        <li><label><input class="uk-checkbox selectAll" type="checkbox"> Check all</label></li>
        <li class="uk-nav-divider"></li><br>

        {% for level in jobShop.getEducationLevels() %}
          <li><label><input class="uk-checkbox filterValue" type="checkbox" name="{{ level.value }}" data-filterName="education_level" data-checked={{ level.value in jobShop.filterStates['education_level'] }}> {{ level.display|capitalize }}</label></li>
        {% endfor %}
      </form>
    </ul>
</li>

<li class="uk-nav-divider"></li>
