<h2>Filter</h2>

<div class="uk-card uk-card-body">
    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
  		{% partial __SELF__ ~ '::filter_salary' %}
  		{% partial __SELF__ ~ '::filter_education' %}
  		{% partial __SELF__ ~ '::filter_jobFunction' %}
  		{% partial __SELF__ ~ '::filter_employmentType' %}
  		{% partial __SELF__ ~ '::filter_jobLevel' %}
    </ul>
</div>
