<!-- SALARY -->
<li class="uk-parent uk-open">
  <a class="uk-nav-header">Minimum Salary</a>
  <!-- salary_gte=3000000&salary_interval=yearly -->
  <form id="salary" class="uk-padding-small" style="padding-bottom:0;margin-bottom:0;">
    <input type="hidden" class="selectAll" />
    <ul class="uk-nav-sub">
      <li>
        <div class="">
          <button class="uk-margin-small uk-button uk-button-text" type="reset">Reset</button>
          <div class="uk-width-1-1 uk-grid-collapse" uk-grid>
            <div class="uk-width-1-5">
              <button class="uk-button uk-button-default uk-width-1-1 uk-disabled" style="padding:0;" id="salaryInput">IDR</button>
            </div>
            <div class="uk-width-4-5">
              <div class="uk-inline uk-width-1-1">
                  <input class="uk-input filterValue" type="number" placeholder="Minimum salary" id="minimumSalary" name="salary_gte" data-filterName="salary_gte" data-value="{{ jobShop.filterStates['salary_gte'][0] }}">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
          <a>Salary Interval</a>
          <ul>
            <li><label><input class="uk-radio filterValue" type="radio" name="salary_interval" value="hourly" data-filterName="salary_interval" data-checked="{{ jobShop.filterStates['salary_interval'][0] == 'hourly' }}" > Hourly</label></li>
            <li><label><input class="uk-radio filterValue" type="radio" name="salary_interval" value="monthly" data-filterName="salary_interval" data-checked="{{ jobShop.filterStates['salary_interval'][0] == 'monthly' }}" > Monthly</label></li>
            <li><label><input class="uk-radio filterValue" type="radio" name="salary_interval" value="yearly" data-filterName="salary_interval" data-checked="{{ jobShop.filterStates['salary_interval'][0] == 'yearly' }}" > Yearly</label></li>
          </ul>
      </li>
    </ul>
  </form>
</li>

<li class="uk-nav-divider"></li>
