<li class="uk-parent">
    <a class="uk-nav-header">Job Level</a>
    <ul class="uk-nav-sub">
      <form id="experienceLevel">
        <button class="uk-margin-small uk-button uk-button-text" type="reset">Reset</button>
        <li><label><input class="uk-checkbox selectAll" type="checkbox"> Check all</label></li>
        <li class="uk-nav-divider"></li><br>

        {% for level in jobShop.getWorkExperienceLevels() %}
          <li><label><input class="uk-checkbox filterValue" type="checkbox" name="{{ level.value }}" data-filterName="work_experience" data-checked="{{ level.value in jobShop.filterStates['work_experience'] }}"> {{ level.display }}</label></li>
        {% endfor %}
      </form>
    </ul>
</li>
