<h2>Job Board</h2>
<div id="resultContainer">
  {% if jobShop.jobs|length > 0 %}
  <p>Found {{ jobShop.jobCount }} result{% if jobShop.jobCount != 1 %}s{%endif%} in {{ jobShop.requestElapseTime|round(4) }} seconds.</p>
  {% endif %}

  <div class="job-container" uk-grid="masonry: true">
    {% if jobShop.jobs|length == 0 %}
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-body">
          <div uk-alert>
            <h3>Sorry, no results found.</h3>
            <p>Try changing your filter or change your search query.</p>
          </div>
        </div>
      </div>
    {% endif %}

    {% for job in jobShop.jobs %}
      <div class="job-card uk-width-1-1 uk-width-1-2@m">
        <!-- Job card -->
        <div class="uk-card uk-card-default expand-trigger">
          {% if job.photo_urls|length > 0 %}
            <div class="uk-card-media-top">
              <img src="{{ job.photo_urls[0] }}" alt="">
            </div>
          {% endif %}
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                  <img width="40" height="40" src="{{ job.company_info.logo_small }}">
              </div>
              <div class="uk-width-expand">
                <a href="{{ featuredJobs.jobUrl(job) }}" target="_blank" class="uk-card-title uk-margin-remove-bottom">{{ job.name }}</a>
                <p class="uk-margin-remove">
                  <a class="uk-button-text" style="text-decoration:none; padding-bottom:2px;" href="{{ featuredJobs.companyUrl(job) }}" target="_blank" class="uk-button uk-button-text">{{ job.company_info.name}}</a>
                </p>
                <p class="uk-text-meta uk-margin-remove-top">
                  <time datetime="{{job.application_end_date}}">
                    Apply before {{ job.application_end_date|date("M d, Y", "Asia/Jakarta") }}
                  </time>
                </p>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>
              {% if job.salary_shown %}
                {% if job.maximum_salary != 0 %}
                  {% if job.base_salary != 0 %}
                    Starting from {{ job.base_salary|number_format(2, '.', ',') }} {{ job.salary_currency }}
                  {% else %}
                    Up
                  {% endif %}
                  to {{ job.maximum_salary|number_format(2, '.', ',') }} {{ job.salary_currency }} / {{ job.salary_interval }}
                {% else %}
                  Salary undisclosed
                {% endif %}
              {% endif %}
            </p>
          </div>
          <div class="uk-card-footer">
            <a style="float:left" href="{{ featuredJobs.jobUrl(job) }}" target="_blank" class="uk-button uk-button-text">Read more</a><a style="float:right;text-align:right;" href="{{ featuredJobs.companyUrl(job) }}" target="_blank" class="uk-button uk-button-text">More from this company</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% partial __SELF__ ~ '::paginate' %}
</div>
