{% set currentPage = jobShop.pageNumber %}
{% set lastPage  = jobShop.maxPage %}
{% set delta = 3 %}

{% set paginate = jobShop.pagination(currentPage, lastPage, delta) %}

<ul class="uk-pagination uk-flex-center uk-margin-medium-top" uk-margin>
  {% if currentPage != 1 %}
    <li><a href="{{ ''| page }}?{{jobShop.httpQueryString}}&pageNumber={{ currentPage - 1 }}"><span uk-pagination-previous></span></a></li>
  {% endif %}

  {% for page in paginate %}
    {% if page == currentPage %}
      <li class="uk-active"><span>{{ page }}</span></li>
    {% elseif page == -1 %}
      <li class="uk-disabled"><span>...</span></li>
    {% else %}
      <li><a href="{{ ''| page }}?{{jobShop.httpQueryString}}&pageNumber={{ page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if currentPage != lastPage %}
    <li><a href="{{ ''| page }}?{{jobShop.httpQueryString}}&pageNumber={{ currentPage + 1 }}"><span uk-pagination-next></span></a></li>
  {% endif %}
</ul>
