<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
  <div class="uk-navbar-left uk-width-1-1">

    <div class="uk-navbar-item uk-width-1-1">
    	<form class="uk-search uk-search-default uk-width-1-1 noAutoLoad" id="search">
        <input type="hidden" class="selectAll" />
    		<div class="uk-width-1-1 uk-grid-collapse" uk-grid>
    			<div class="uk-width-5-6">
    				<div class="uk-inline uk-width-1-1">
  				    <a href="" uk-search-icon></a>
  				    <input class="uk-search-input uk-width-1-1 filterValue" type="search" style="background:#fff;" placeholder="Search" name="text" data-filterName="text" data-value="{{ jobShop.filterStates['text'][0] }}">
    				</div>
    			</div>
    			<div class="uk-width-1-6">
    				<button class="uk-button uk-button-primary uk-width-1-1" onclick="updateFilterState(this.form, true)" type="button">Search</button>
    			</div>
    		</div>
    	</form>
    </div>

  </div>
</nav>
