<h2>Featured</h2>

{% set validResult = 0 %}

<div class="job-container" uk-grid="masonry: true">
  {% for job in featuredJobs.jobs %}
    {% if date(job.application_end_date) >= date() %}
      {% set validResult = validResult + 1 %}

      <div class="job-card uk-width-1-4@m uk-width-1-1">
        <!-- Job card -->
        <div class="uk-card uk-card-small uk-card-default expand-trigger">
          {% if job.photo_urls|length > 0 %}
            <div class="uk-card-media-top">
              <img src="{{ job.photo_urls[0] }}" alt="">
            </div>
          {% endif %}
          {% if job.maximum_salary != 0 and job.base_salary != 0  %}
            <div class="uk-card-header">
          {% else %}
            <div class="uk-card-body">
          {% endif %}
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                <a href="{{ featuredJobs.jobUrl(job) }}" target="_blank" class="uk-card-title uk-margin-remove-bottom">{{ job.name }}</a>
                <p class="uk-margin-remove">
                  <a class="uk-button-text" style="text-decoration:none; padding-bottom:2px;" href="{{ featuredJobs.companyUrl(job) }}" target="_blank" class="uk-button uk-button-text"><img width="70" height="70" src="{{ job.company_info.logo }}"></a>
                </p>
                <p class="uk-text-meta uk-margin">
                  <time datetime="{{job.application_end_date}}">
                    Apply before {{ job.application_end_date|date("M d, Y", "Asia/Jakarta") }}
                  </time>
                </p>
              </div>
            </div>
          </div>
          {% if job.maximum_salary != 0 and job.base_salary != 0  %}
              <div class="uk-card-body">
                <p>
                {% if job.maximum_salary != 0 %}
                  {% if job.base_salary != 0 %}
                    Starting from {{ job.base_salary|number_format(2, '.', ',') }} {{ job.salary_currency }}
                  {% else %}
                    Up
                  {% endif %}
                  to {{ job.maximum_salary|number_format(2, '.', ',') }} {{ job.salary_currency }} / {{ job.salary_interval }}
                {% else %}
                  Salary undisclosed
                {% endif %}
              </p>
            </div>
          {% endif %}
          <div class="uk-card-footer">
            <a href="{{ featuredJobs.jobUrl(job) }}" target="_blank" class="uk-button uk-button-text">Read more</a><br />
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% if validResult == 0 %}
  <div class="uk-width-1-1">
    <div class="uk-card uk-card-body">
      <div uk-alert>
        <p>We currently have no featured jobs</p>
      </div>
    </div>
  </div>
  {% endif %}
</div>
