<div class="row">
    <div class="col-lg-12">
        <h1 class="">Settings</h1>
    </div>
</div>
<div class="row m-t-md">
    <div class="col-lg-10 col-lg-offset-1" style="padding:15px;">
        Reserved page for authentication settings when required.<br>
        Nothing to see here :)
    </div>
</div>
